
.user-interface {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 45rem;
    background-color: white;
    border-radius: 0.5rem;
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.bench {
 background-color: brown;
 height: 1rem;
 display: flex;
 justify-content: center;
 width: 100%; 
 position: relative;
 background: linear-gradient(to bottom, #8b4513, #6a3805);
 border-radius: 8px 8px 0 0;
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
 margin: 1rem auto -35rem;
}

.flower-pot {
  display: flex;
  justify-content: center;
  flex-direction: row;
  bottom: 5rem;
  align-items: center; 
  width: 80px;
  height: 5rem;
  position: relative;
  background-color: #d35400;
  border-radius: 5px 5px 40px 40px;
    
   &::before {
   content: '';
   position: absolute;
   top: -15px;
    left: -5px;
    width: 90px;
    height: 20px;
    background-color: #d35400;
    border-radius: 5px;
    }
  }
  .pot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 2.5rem;
  }